<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1 th:text="${product.getName()}">Article</h1>
    <div th:replace="partials/navigation"></div>

    <p>Name: <strong><span th:text="${product.getName()}"></span></strong></p>
    <p>Category: <span class="badge rounded-pill bg-success" th:text="${product.getCategory()}"></span></p>
    <p>Description: <span th:text="${product.getDescription()}"></span></p>
    <p>Price: <strong><span th:text="${product.getPrice()}"></span></strong></p>
    <p>Created at: <span class="badge bg-light text-dark" th:text="${#temporals.format(product.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span></p>
    <p>Updated at: <span class="badge bg-light text-dark" th:text="${#temporals.format(product.getUpdatedAt(), 'dd-MM-yyyy HH:mm')}"></span></p>

    <div th:replace="partials/footer"></div>
    <div th:replace="partials/scripts"></div>
</div>
</body>
</html>
